body {
    background-color: black;
    height: 500px;
    width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

#a1:hover, audio:focus, audio:active{
    transform: scale(1.05);
}

#a1 {
    width:220px;
    height:30px;
    position:absolute;
    left:90px;
    top:250px;
    transition: all 0.2s linear;
    border-radius: 10%;
    color:blue;
    border-style: none;
    shape-outside: none;
}

#a2:hover, audio:focus, audio:active{
    transform: scale(1.05);
}

#a2 {
    width:220px;
    height:30px;
    position:absolute;
    left:450px;
    top:250px;
    transition: all 0.2s linear;
    border-radius: 10%;
    color:blue;
    border-style: none;
    shape-outside: none;
}

#a3:hover, audio:focus, audio:active{
    transform: scale(1.05);
}

#a3 {
    width:220px;
    height:30px;
    position:absolute;
    left:810px;
    top:250px;
    transition: all 0.2s linear;
    border-radius: 10%;
    color:blue;
    border-style: none;
    shape-outside: none;
}

#a4:hover, audio:focus, audio:active{
    transform: scale(1.05);
}

#a4 {
    width:220px;
    height:30px;
    position:absolute;
    left:90px;
    top:350px;
    transition: all 0.2s linear;
    border-radius: 10%;
    color:blue;
    border-style: none;
    shape-outside: none;
}

#a5 {
    width:220px;
    height:30px;
    position:absolute;
    left:450px;
    top:350px;
    transition: all 0.2s linear;
    border-radius: 10%;
    color:blue;
    border-style: none;
    shape-outside: none;
}

#a6 {
    width:220px;
    height:30px;
    position:absolute;
    left:810px;
    top:350px;
    transition: all 0.2s linear;
    border-radius: 10%;
    color:blue;
    border-style: none;
    shape-outside: none;
}

#figure {
    position: absolute;
    width: 450px;
    top: 50px;
    left: 1420px;
    animation-name: fly1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes fly1 {
    from { transform:translateX(0)}
    to { transform:translateX(-250px)
    }
}

#figure:hover~#warning {
    display: block;
}

#warning {
    position: absolute;
    display: none;
    width: 200px;
    height: 250px;
    left: 1230px;
    top: 300px;
    text-align: center;
    color: rgb(129, 198, 255);
    font-size: 20px;
}


#arrow {
    position:absolute;
    width:40px;
    left:1200px;
    top:-40px;
    animation-name: fly;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fly {
    from { transform:translateY(0)}
    to { transform:translateY(200px)
    }
}

h1 {
    position:absolute;
    font-size: 80px;
    color:white;
    left: 90px;
    top: 0px;
    animation: glow1 1s  infinite ease-in-out alternate;
}

@keyframes glow1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #51aaf3, 0 0 60px #51aaf3,;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #166cce, 0 0 50px #166cce, 0 0 70px #166cce;
    }
  }

h2 {
    position:absolute;
    font-size: 20px;
    color:white;
    left: 90px;
    top: 180px;
  }

#cap1{
    position: absolute;  
    left:90px;
    top: 280px;
    color: rgb(163, 214, 255);
    font-weight: normal;
    font-size: 10px;
  }

#s1{
    color: rgb(227, 239, 255);
    font-weight: bolder;
    font-size: 10px;
  }

#cap2{
    position: absolute;  
    left:450px;
    top: 280px;
    color: rgb(163, 214, 255);
    font-weight: normal;
    font-size: 10px;
}

#s2{
    color: rgb(227, 239, 255);
    font-weight: bolder;
    font-size: 10px;
}

#cap3{
    position: absolute;  
    left:810px;
    top: 280px;
    color: rgb(163, 214, 255);
    font-weight: normal;
    font-size: 10px;
}

#s3{
    color: rgb(227, 239, 255);
    font-weight: bolder;
    font-size: 10px;
}

#cap4{
    position: absolute;  
    left:90px;
    top: 385px;
    color: rgb(163, 214, 255);
    font-weight: normal;
    font-size: 10px;
}

#s4{
    color: rgb(227, 239, 255);
    font-weight: bolder;
    font-size: 10px;
}

#cap5{
    position: absolute;  
    left:450px;
    top: 385px;
    color: rgb(163, 214, 255);
    font-weight: normal;
    font-size: 10px;
}

#s5{
    color: rgb(227, 239, 255);
    font-weight: bolder;
    font-size: 10px;
}

#cap6{
    position: absolute;  
    left:810px;
    top: 385px;
    color: rgb(163, 214, 255);
    font-weight: normal;
    font-size: 10px;
}

#s6{
    color: rgb(227, 239, 255);
    font-weight: bolder;
    font-size: 10px;
}

#parent {
    position:absolute;
    width: 1000px;
    height:420px;
    background-color: #0d3999;
    border-width: 20px;
    z-index: -2;
    left:80px;
    top:230px;
    opacity: 20%;
}

#child {
    position:absolute;
    width: 1000px;
    height:200px;
    background-color: white;
    border-width: 20px;
    z-index: -1;
    left:0px;
    top:0px;
    opacity: 50%;
}

#q1{
    position: absolute;
    left:90px;
    top:430px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light1 {
    position: absolute;
    left: 12px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q2{
    position: absolute;
    left:450px;
    top:430px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light2 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q3{
    position: absolute;
    left:810px;
    top:430px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light3 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q4{
    position: absolute;
    left:90px;
    top:480px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light4 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q5{
    position: absolute;
    left:450px;
    top:480px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light5 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q6{
    position: absolute;
    left:810px;
    top:480px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light6 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q7{
    position: absolute;
    left:90px;
    top:530px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light7 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q8{
    position: absolute;
    left:450px;
    top:530px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light8 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q9{
    position: absolute;
    left:810px;
    top:530px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light9 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q9{
    position: absolute;
    left:810px;
    top:530px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light9 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}


#q10{
    position: absolute;
    left:90px;
    top:580px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light10 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q10{
    position: absolute;
    left:90px;
    top:580px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light10 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q11{
    position: absolute;
    left:450px;
    top:580px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light11 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#q12{
    position: absolute;
    left:810px;
    top:580px;
    color: rgb(227, 239, 255);
    font-size: 10px;
    font-weight: bolder;
    
}

#light12 {
    position: absolute;
    left: 15px;
    font-weight: lighter;
    color:rgb(163, 214, 255);
}

#return {
    position: absolute;
    left: 1050px;
    top: 630px;
    width:80px;
    height:20px;
    font-size: 15px;
    text-align: center;
    background-color:rgb(163, 214, 255) ;
    border-radius: 10%;
    border-style: none;
    margin-left: 30px;
    transition: background-color 0.5s ease-out;
    color:#0d3999;
    font-weight: bolder;
}

#return:hover {
    background-color: rgb(227, 239, 255);
}

#out {
    position: absolute;
    left: 1150px;
    top: 630px;
    width:80px;
    height:20px;
    font-size: 15px;
    text-align: center;
    background-color:rgb(163, 214, 255) ;
    border-radius: 10%;
    border-style: none;
    margin-left: 30px;
    transition: background-color 0.5s ease-out;
    color:#0d3999;
    font-weight: bolder;
}

#out:hover {
    background-color: rgb(227, 239, 255);
}